@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(8,92,172);
}

.medal img {
  height: 30px;
  width: 30px;
  margin-left: -5px;
}

.medal span {
 font-size: 16px;
}

.number-input {
  width: 40%;
}

.prediction-content, .actual-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.actual-form {
  margin-top: 30px;
  margin-bottom: 30px;
  background: limegreen;
}

.prediction-form {
  background: white;
}

h5 {
  padding-top: 5px;
  text-align: center;
}

.points {
  text-align: center;
  color: white;
  font-weight: 600;
}

.calc {
  width: 80vw;
}

.leaderboard {
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-items: start;
  width: 300px;
  padding: 10px;
}

.title {
  text-align: center;
  width: 100vw;
}

ol {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: start;
}

li:nth-child(odd) {
  background: lightgray;
}

.leaderboard-position {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.leaderboard-name {
  display: flex;
  gap: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  font-size: 0.95rem;
  text-align: center;
}

.active {
  font-weight: 600;
  text-decoration: underline;
}

.banner {
  position: fixed;
  bottom: 0;
  height: 130px;
  width: 200px;
  right: 0;
}

.nav p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.euiTab {
  width: 100px;
  display: flex;
  justify-content: center;
}

.euiTabs {
  margin-bottom: 20px;
  background: white;
  width: 300px;
  padding: 5px;
}

.euiTab__content > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width:600px) {
  .banner {
    display: none;
  }

  .calc {
    width: 50vw !important;
  }

  table {
    width: 100% !important;
  }

  .euiTabs {
    width: 400px;
  }

  .euiTab {
    width: 133px;
  }
}

.fixture-list {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
  border-radius: 5px;
}

.fixture-list h4 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.fixture-item {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

.time {
  font-weight: 600;
}

.predictions-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prediction-table {
  position: relative;
  z-index: 9999;
  color: black;
  height: 300px;
}

.open-content {
  height: auto !important;
}

.euiAccordion__childWrapper {
  height: auto !important;
}

table{
  border-collapse:collapse;
  border:1px solid lightgray;
  font-size: 14px;
  }
  
  table td, table th{
  border:1px solid lightgray;
  text-align: center;
  padding: 5px;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }