@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.medal img {
  height: 30px;
  width: 30px;
}

body {
  background-color: #004ea0;
}

.leaderboard {
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-items: start;
}

ol {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: start;
}

li:nth-child(odd) {
  background: lightgray;
}

.leaderboard-position {
  display: flex;
  justify-content: start;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.leaderboard-name {
  display: flex;
  gap: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
