@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #143cdb;
  --primary-offset: #1131ad;
  --primary-light: #4a7db3;
  --secondary: white;
  --secondary-offset: white;
  --accent-green: #00a85d;
  --accent-green-offset: #6adaa8;
  --accent-red: #e4010b;
  --accent-red-offset: #e3767c;
  --tertiary: #2b2c36;
  --accent-yellow: #f8bf4b;
  --accent-yellow-offset: #f8bf4b;
  --blue: #1677ff;
}

.about {
  width: 90vw;
  display: flex;
  justify-content: center;
  height: auto;
  background: white;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px !important;
}

main {
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--primary);
}

.medal img {
  height: 25px;
  width: 25px;
  margin-left: -5px;
}

.medal span {
  margin-left: 1px;
  margin-right: 5px;
}

.medal span {
  font-size: 16px;
}

.number-input {
  width: 40%;
}

.prediction-content,
.actual-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.actual-form {
  margin-top: 30px;
  margin-bottom: 30px;
  background: limegreen;
}

.prediction-form {
  background: white;
}

h5 {
  padding-top: 5px;
  text-align: center;
}

.points {
  text-align: center;
  color: white;
  font-weight: 600;
}

.calc {
  width: 90vw;
}

.leaderboard {
  background: var(--secondary-offset);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-items: start;
  width: 90vw;
  padding: 10px;
  min-height: 581px;
}

.title {
  text-align: center;
  width: 100vw;
}

.leaderboard-position {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 20px;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid lightgrey;
}

.leaderboard-position:last-child {
  border: none;
}

.leaderboard-name {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  font-size: 0.95rem;
  text-align: center;
}

.active {
  font-weight: 600;
  text-decoration: underline;
}

.banner {
  position: fixed;
  bottom: 0;
  height: 130px;
  width: 200px;
  right: 0;
  z-index: 99999;
}

.nav p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.euiTab {
  /* width: 100px; */
  /* display: flex;
  justify-content: center; */
}

.euiTabs {
  /* margin-bottom: 20px; */
  background: white;
  /* width: 300px; */
  padding: 5px;
  border-radius: 5px;
  width: 90vw;
}

.euiTab__content > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fixture-list {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
  border-radius: 5px;
}

.fixture-list h4 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.fixture-item {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

.time {
  font-weight: 600;
}

.predictions-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prediction-table {
  position: relative;
  z-index: 9999;
  color: black;
  height: 300px;
}

.open-content {
  height: auto !important;
}

.euiAccordion__childWrapper {
  height: auto !important;
}
.other-predictions {
  font-size: 12px;
  margin: 15px 0px;
}

.other-predictions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid lightgray;
  font-size: 14px;
}

table td,
table th {
  border: 1px solid lightgray;
  text-align: center;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  width: 100vw;
  background: var(--primary-offset);
}

.toggle-table {
  color: white;
}

.lastUpdated {
  color: rgb(202, 201, 201);
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
}

.last-updated-text {
  display: flex;
  align-items: center;
}

.euiAccordion__button {
  display: flex;
  width: 100%;
}

.euiAccordion__buttonContent,
.accordian-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.pin-icon {
  padding: 5px;
}

.data-grid {
  width: 90vw !important;
  scrollbar-width: 10px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: auto !important;
  border: 1px solid lightgray;
  overflow: auto;
}

div[role="grid"] {
  width: 150vw;
  border-radius: 5px;
}

div[role="gridcell"],
div[role="columnheader"] {
  border: 1px solid lightgray;
}

div[role="columnheader"] {
  width: 100%;
}

div[role="columnheader"] > span {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

ul {
  display: flex;
  flex-direction: column;
}

ul span {
  margin-bottom: 10px;
}

/* .Mui-checked {
  color: lightcoral !important;
} */

/* .MuiSwitch-track {
  color: lightcoral !important;
} */

/* .toggle-table {
  align-self: flex-start;
  margin-left: 10px;
} */

.scores {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: start;
}

/* .scores li:nth-child(odd) {
  background: rgb(193, 192, 192);
} */

.special-column {
  background-color: var(--primary) !important;
  border: 1px solid black !important;
  color: white;
}

.special-column-header {
  background-color: var(--primary) !important;
  border: 1px solid black !important;
  color: white;
}

.perfect-column {
  background-color: var(--blue) !important;
  border: 1px solid black !important;
  color: white;
}

.perfect-column-header {
  background-color: var(--blue) !important;
  border: 1px solid black !important;
  color: white;
}

.pos-update {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  gap: 4px;
}

.pos-update-same {
  color: orange;
}

.pos-update-up {
  color: green;
}

.pos-update-down {
  color: red;
}

.live-fixture {
  width: 100%;
  background: white !important;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

.live-container span {
  padding-right: 5px;
}

.circle {
  background-color: #75daad;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

.live {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}

.now {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 155px;
  background-color: var(--secondary-offset);
}

.link {
  padding: 5px 10px;
  border-radius: 4px;
  background: var(--primary-offset);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.leaderboard-score {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
}

.pointDiff {
  font-weight: 400 !important;
  font-size: 11px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.points-up {
  background-color: green;
  color: white;
}

.points-down {
  background-color: red;
  color: white;
}

.points-same {
  background-color: lightgray;
  color: black;
}

.toggle-results {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  width: 90vw;
}

.toggle-results button {
  min-inline-size: 50px !important;
}

.avatar {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background: lightcoral;
  margin-top: 18px;
}

.navbar {
  width: 90vw;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.navbar .euiButton {
  background: var(--primary);
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none !important;
}

.navbar .isSelected {
  background: var(--accent-yellow);
  color: #000036;
}

.header {
  display: flex;
  width: 90vw;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 2rem;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 125px;
  font-weight: 700;
}

.header-title h1 {
  margin-top: -10px;
  margin-bottom: -10px;
}

.euiButtonGroupButton {
  background-color: var(--primary);
  color: white;
}

.euiButtonGroupButton-isSelected {
  background-color: var(--accent-yellow);
  color: black;
}

.latest-button {
  background-color: var(--primary);
  color: white;
  border: 1px solid #324ebb;
  flex-grow: 2;
  font-weight: 400;
  text-decoration: none !important;
}

.next-button,
.prev-button {
  background-color: var(--blue);
  color: white;
  border: 1px solid #324ebb;
  font-weight: 400;
  text-decoration: none !important;
}

.euiAccordion__buttonContent,
.euiAccordion__button {
  text-decoration: none !important;
  text-decoration-style: none !important;
  text-decoration-line: none !important;
}

.teams {
  display: flex;
  gap: 30px;
}

.teams-home,
.teams-away {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixture-item {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

.euiPanel,
.fixture-list {
  background-color: var(--secondary-offset) !important;
}

@media screen and (min-width: 600px) {
  .banner {
    display: none;
  }

  .calc {
    width: 50vw !important;
  }

  table {
    width: 100% !important;
  }

  .euiTabs {
    width: 400px;
  }

  .euiTab {
    width: 133px;
  }

  .about {
    width: 300px;
  }

  .toggle-results {
    width: 90vw;
  }
  .container {
    width: 100vw !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .live-fixtures-container {
    overflow: hidden !important;
  }

  .now {
    width: 30vw;
  }

  .navbar {
    width: 30vw;
  }

  .leaderboard {
    width: 30vw;
  }

  .toggle-table {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .data-grid {
    width: 50vw !important;
  }

  .toggle-results {
    width: 50vw;
    justify-content: center;
  }

  .latest-button {
    flex-grow: unset;
  }
}

.live-fixtures-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  gap: 20px;
  width: 100vw;
  overflow: auto;
  height: 120px;
  padding-right: 20px;
}

.fixture {
  height: 110px;
  min-width: 150px;
  background-color: var(--primary-offset);
  border-radius: 10px;
  border: 1px solid #324ebb;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  font-size: 14px;
  box-shadow: #324ebb 0px 2px 8px 0px;
  gap: 0;
}

.fixture-time {
  color: rgb(202, 201, 201);
  /* padding: 10px; */
  padding-top: 5px;
  padding-left: 10px;
  font-weight: 600;
}

.fixture-round {
  margin-top: -5px;
  padding-left: 10px;
  color: rgb(202, 201, 201);
  /* font-weight: 600; */
}

.fixture-teams {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 5px;
  padding-left: 10px;
  gap: 3px;
}

.fixture-teams div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.flag {
  width: 15px;
  height: 15px;
  position: relative;
  left: 29px;
  top: -13px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
}

.flag img {
  height: 15px !important;
  width: 15px !important;
}

.placeholder {
  height: 14.2px;
  width: 20px;
  background-color: lightgray;
}

.advanced-view-toggle {
  display: flex;
  align-items: center;
}
